@font-face {
   font-family: "AkzidenzGroteskBQCondensedBold";
   src: url("fonts/AkzidenzGroteskBQCondensedBold.eot");
   src: url("fonts/AkzidenzGroteskBQCondensedBold.eot#iefix") format("embedded-opentype"), url("MyriadPro-Regular.woff") format("woff"),
      url("fonts/AkzidenzGroteskBQCondensedBold.woff") format("woff"),
      url("fonts/AkzidenzGroteskBQCondensedBold.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Bebas";
   src: url("fonts/BebasNeueRegular.eot");
   src: url("fonts/BebasNeueRegular.eot#iefix") format("embedded-opentype"), url("MyriadPro-Regular.woff") format("woff"),
      url("fonts/BebasNeueRegular.woff") format("woff"),
      url("fonts/BebasNeueRegular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}


*{padding: 0; margin:0; border:0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display: block;}
html,body{height:100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration: none ;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

html,
body {
   font-family: "PT Sans";
   font-size: 21px;
   width: 100%;
   height: 100%;
}
.container {
   max-width: 1000px;
   margin: 0 auto;
}
.container__header{
   max-width: 1000px;
   margin: 0 auto;
}
.body {

}
.logo__2__up{
   display: none;
}
.nav__body {
   display: flex;
   margin: 0 auto;
   text-transform: uppercase;
   position: relative;
   height: 120px;

}
.menu li {
   text-decoration: none;
}

.logo__body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 0 1 33.333%;
}
.logo {
   transform: scale(0.9);
}

.a1 {
   z-index: 0;

}
.a2 {
   z-index: 0;
}
.up_option{
   display: flex;
   align-items: center;
   margin: 10px 0px 0px 10px;
}
.languages {
   display: flex;
   z-index: 3;
   position: relative;

}
.en{
   color: #000;
	padding: 2px 0px 0px 0px;
}
.ru{
   text-decoration: none;
   color: #000;
	    padding: 2px 0px 0px 0px;
}
.esp{
   text-decoration: none;
   color: #000;
	    padding: 2px 0px 0px 0px;
}
.lagua{
   font-family: "Bebas";
   display: flex;
   flex: 0 0 80%;
   z-index: 3;
   width: 100px;
}
.languages__body {
   width: 100px;
   display: flex;
   font-size: 17px;
}

.online__odering {
   display: inline-block;
   position: relative;
   z-index: 11;
   flex: 0 0 20%;
   padding: 0px 10px 0px 0px;
   text-align: right;
   font-size: 15px;
   font-family: "AkzidenzGroteskBQCondensedBold";
   color: #000;
   text-decoration: none;
}
.online__odering u{
   color: #000;
}
.header-top {
   display: flex;
   position: relative;
   align-items: center;
   justify-content: center;
}
.header__top_1 {
   display: flex;
   flex: 0 0 33.333%;
	list-style: none;
   
}
.header__top_1 ul{
   justify-content: space-between;
}
.header__top_2 {
   display: block;
   flex: 0 0 33.333%;
   z-index: 11;
   display: block;

}
.logo{

}
.logo{
   position: relative;
   z-index: 11;
   display: block;
   text-align: center;
}
.header__top_3 {
   display: flex;
   flex: 0 0 33.333%;
   justify-content: space-between;
	list-style: none;
}
.a2 {
   margin: 0;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: flex-end;
   justify-content: space-between;
   width: 100%;
}
.a1{
   justify-content: space-between;
   display: flex;
   width: 100%;
}
.a1 li{
   margin: 0px 10px 0px 0px;
}
.a1 li:first-child{
   margin: 0px 0px 0px 10px;
   
}
.a2 li{
   text-align: right;
   margin: 0px 0px 0px 0px;

}
.a2 li:first-child{
   margin: 0px 0px 0px 10px;
   
}
.a2 li:last-child{
   margin: 0px 10px 0px 0px;
   
}
.menu {
   font-family: "AkzidenzGroteskBQCondensedBold";
}
.menu__item:last-child {
   margin: 0px 0px 0px 0px;
}
.languages__body {
   position: relative;
	list-style: none;
}
.header__burger {
   display: none;
}

.nav__item {
   font-family: "AkzidenzGroteskBQCondensedBold";
   font-size: 15px;
}
.logo__body_up {
   display: none;
}
.logo_up_2 {
   display: none;
}
.order__adapt{
   display: none;
}
@media (max-width: 767px) {

   .container__header {
      width: 100%;
      height: 50px;
   }
   .nav__body {
      width: 100%;
      height: 30px;
   }
   body.lock {
      overflow: hidden;
   }
   .nav__body {
   }
   .nav__item {
      padding: 0px 0px 0px 0px;
   }
   .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      left: 10px;
      top: 10px;
      z-index: 3;
   }
   .header__burger span {
      position: absolute;
      background-color: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
   }
   .header__burger:before,
   .header__burger:after {
      content: "";
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }
   .header__burger:before {
      top: 0;
   }
   .header__burger:after {
      bottom: 0;
   }

   .header__burger.active span {
      transform: scale(0);
   }

   .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px;
   }
   .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
   }
   .logo__2__up{
      display: block;
      transform: scale(0.7);
   }
   .header__menu {
      position: fixed;
      top: 0%;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      transition: all 0.3s ease 0s;
      background-color: #fff;
      padding: 10px 10px 20px 10px;
   }
   .header__menu.active {
      top: 0;
      left: 0;
   }

   .header__list {
      display: block;
   }
   .header__list li {
      margin: 0px 0px 20px 0px;
   }
   .logo {

      
   }
   .logo__center{
      text-align: center;
   }
   .header__top_2 {


   }
   .languages__body {
      position: relative;
      width: 100%;
      max-height: 100%;
   }
   .menu {
      display: flex;
      flex-direction: column;
      height: 100px;
   }

   .menu__item {
      margin: 0px 0px 20px 0px;
   }

   .nav__item {
      position: fixed;
      top: 0;
      left: 0%;
      width: 100%;
      height: 100%;
      padding: 100px 0px 0px 0px;
      z-index: 1;
      font-size: 15px;
      font-family: "AkzidenzGroteskBQCondensedBold";
   }
   .header-top {
      display: flex;
      margin: 50px 0px 0px 0px;
      flex-direction: column;
      align-items: start;
      justify-content: start;
   }
   .header__top_1 {
   }
   .header__top_2 {

   }
   .a2 {
      position: relative;
      text-align-last: left;
      margin: 0;
      padding: 0;
   }
   .a1 {
      position: relative;
      text-align-last: left;
      margin: 0px 0px 10px 0px;;
      padding: 0;

   }
   .logo {


   }
   .online__odering {
      position: relative;
      display: block;
      flex: 0 0 50%;
      font-size: 15px;
      font-family: "AkzidenzGroteskBQCondensedBold";
   }
   .lagua{
      flex: 0 0 50%;
   }
   .languages__body {
      width: 70%;
      justify-content: start;
   }
   .a1 li:first-child{
      margin: 0px;
      
   }
   .a2 li:first-child{
      margin: 0px;
      
   }
   .a2 li:last-child{
      margin: 0px;
      
   }
}

.header__menu {
   width: 100%;
}
.header-top_2 {
}

.header__burger span {
   background-color: #000;
   position: absolute;
   left: 0;
   width: 100%;
   height: 2px;
   top: 9px;
   transition: all 0.3s ease 0s;
}
.header__burger:before,
.header__burger:after {
   content: "";
   background-color: #000;
   position: absolute;
   width: 100%;
   height: 2px;
   left: 0;
   transition: all 0.3s ease 0s;
}
.header__burger:before {
   top: 0;
}
.header__burger:after {
   bottom: 0;
}

.header__burger .active span {
   transform: scale(0);
}
.header__burger .active:before {
   transform: rotate(45deg);
   top: 9px;
}
.header__burger .active:after {
   transform: rotate(-45deg);
   bottom: 9px;
}

.menu__item a {
   color: #000;
   text-decoration: none;
}

.en {
   width: 20px;
   height: 20px;
   background-color: #000;
   color: white;
   text-align: center;
   margin: 0px 20px 0px 0px;
}
.ru {
   margin: 0px 20px 0px 0px;
   text-align: center;
}
.esp {
   margin: 0px 20px 0px 0px;
   text-align: center;
}

.menu_up {

}

.up {
   font-size: 8px;
   letter-spacing: 5px;
   padding: 10px 0px 0px 0px;
}
.down {
   letter-spacing: 8px;
   padding: 13px 0px 0px 0px;
}


.online__odering {
   z-index: 3;
}
.menu__right {
}
.menu__gallery {
}
.menu__friends {
}
.menu__contact {
}

/*

Part 2

*/

.container {
}
.block__2 {
   display: flex;
   color: white;
   margin: 0px 0px 75px 0px;
}

.block__slider {
   display: flex;
   flex: 1 1 auto;
   background-color: #000;
}
.slider__body {
   width: 50%;
}
.slider {
   background: url("../img/slider_1.png") no-repeat;
   flex: 1 1 auto;
   height: 100%;
}
.slider img {
   padding: 0px 0px 0px 0px;
   width: 100%;
   height: 450px;
   object-fit: cover;
}
@media (max-width: 767px) {
   .slider__body {
      display: none;
   }
}

.about {
   max-width: 50%;
   display: flex;
   flex: 1 1 100%;
   flex-direction: column;
   max-width: 380px;
}
.catering__body {
   max-width: 380px;
   padding: 50px 25px;
}
.catering__title {
   font-family: "AkzidenzGroteskBQCondensedBold";
   font-size: 50px;
   text-transform: uppercase;
   margin: 0px 0px 35px 0px;
}
.catering__text {
   font-size: 15px;
   display: flex;

   padding: 0px 0px 60px 0px;
}
.buttom {
   display: inline-block;
   font-family: "Bebas";
   height: 50px;
   text-align: center;
   line-height: 51px;
   width: 136.5px;
   background-color: #000;
   display: inline-block;
   font-size: 15px;
   text-transform: uppercase;
   color: #fff;
   letter-spacing: 1.25px;
}
.white {
   color: #000;
   background-color: #fff;
}
.view__menu {
   font-family: "Bebas";
   text-transform: uppercase;
   color: #fff;
   font-size: 15px;
   text-decoration: underline;
   margin: 0px 0px 0px 15px;
   letter-spacing: 1.5px;
}
@media(max-width: 767px) {
	.view__menu {
	font-size: 17.5px;
   padding: 0px 0px 0px 10px;
	}
}
@media(max-width:319px){
   .buttom__view{
      display: flex;
      flex-direction: column;
   }
   .view__menu{
      padding: 0;
      margin: 30px 0px 0px 0px;
   }
}
.buttom__text{
   color: #fff;
}

.buttom__view {
}

.view {
}

/*

Block 3

*/

.container__block3 {
   margin: 0 auto;
   max-width: 1000px;
   padding: 0px 50px;
}
.menu {
}
.menu__body {
}
.menu__row {
   display: flex;
}
.menu__item {
   flex: 0 0 25%;
   padding: 0px;
}
.menu__column {
}

p {
}

.item__buttom {
   font-family: "Bebas";
   height: 50px;
   line-height: 50px;
   background-color: #000;
   display: inline-block;
   margin: 0px 0px 30px 0px;
   font-size: 15px;
   text-transform: uppercase;
   color: #fff;
   letter-spacing: 1.5px;
}
.black {
   font-size: 18px;
   color: #fff;
   text-align: center;
   margin: 0px 10px 30px 0px;
   background-color: #000;
   text-transform: uppercase;
}
.black_last {
   font-size: 18px;
   color: #fff;
   text-align: center;
   margin: 0px 0px 30px 0px;
   background-color: #000;
   text-transform: uppercase;
}
.item__view {
   display: inline-block;
   font-size: 15px;
   color: #000;
   text-transform: uppercase;
   text-decoration: underline;
   font-family: "Bebas";
   margin: 0px 20px 0px 0px;
}
.black_view a {
   margin: 0px 20px 0px 0px;
   color: #000;
}

.cards {
   margin: 0px 0 70px 0;
}
.cards__row {
   margin: 0px -15px 0px -15px;
   display: flex;

   flex-wrap: wrap;
}

.cards__column {
   flex: 1 1 25%;
   display: flex;
   margin: 0px 0px 80px 0px;
}
.cards__item {
   flex: 1 1 25%;
   height: 100%;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}
@media (max-width: 767.98px) {


}
@media(max-width:790px){
   .cards__column {
      display: flex;
      flex-wrap: nowrap;
      flex: 1 1 50%;
      margin: 0px 0px 20px 0px;
   }
   .cards__item {
      display: flex;
      flex: 1 1 50%;
   }
}
/* Контейнер картинки */
.cards__image {
   display: block;
   padding: 0px 0px 100% 0px;
   margin: 0px 0px 25px 0px;
}
/* Картинка */
.cards__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   top: 0;
   left: 0;
}
.ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.item__image {
   margin: 0px 0px 20px 0px;
   padding: 0px 0px 58% 0px;
   overflow: hidden;
   position: relative;
}

.products-item__image {
   display: block;
   padding: 0px 0px 100% 0px;
   margin: 0px 0px 25px 0px;
}

.item__title {
   font-family: "AkzidenzGroteskBQCondensedBold";
   display: block;
   font-size: 25px;
   text-transform: uppercase;
   max-width: 150px;
   letter-spacing: 1.5px;
   margin: 0px 0px 30px 0px;
}
.item__text {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   padding: 0px 10px 0px 0px;
   max-width: 185px;
   font-size: 15px;
   line-height: 25px;
   margin: 0px 0px 25px 0px;
}
.cards__body {
}

.content {
   background-color: #000;
   max-width: 100%;
   margin: auto;
   flex: 1 1 100%;
   left: 0;
}
.container {
}
.why__body {
   
   flex: 1 1 100%;
   display: flex;
   height: 150px;
   max-width: 100%;
   align-items: center;
}
.why__text {
   width: 50%;
}
.why__item {
   display: flex;
   text-transform: uppercase;
   color: #fff;
   float: right;
   margin: 0px 30px 0px 0px;
}

.why__p {
   font-family: "AkzidenzGroteskBQCondensedBold";
   font-size: 50px;
   max-width: 500px;
   padding: 0px 0px 0px 20px;
}
@media(max-width: 767px){
   .why__body {
      height: 100px;
      max-width: 100%;
      align-items: center;

   }
   .why__text {
      width: 767px;

   }
   .why__item{
      margin: 0;
   }
   .why__p {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 767px;
   font-size: 30px;
   padding: 0;
   }
}

.why__image {
   width: 50%;
}
.why__image img {
   display: flex;
   flex: 1 0 100%;
   vertical-align: top;
   height: 150px;
   object-fit: cover;
   width: 100%;
}
@media(max-width: 767px){
   .why__body {
      flex: 1 1 100%;
      height: 100px;
      align-items: center;
      margin: 0 auto; 

   }
   .why__text {

   }
   .why__image {
      width: 0%;
   }
   .why__image img {
      display: none;
      width: 0%;
   }


   .why__item {
      display: flex;
      font-size: 50px;
      text-transform: uppercase;
      color: #fff;
      width: 100%;
      justify-content: center;
   }
   
   .why__p {
      font-family: "AkzidenzGroteskBQCondensedBold";
      width: 300px;
      display: flex;
      justify-content: center;
   }
   

}
.container-up {
   background-color: #ebebeb;
}

.container {
   margin: 0 auto;
}

.why-up {
}
.why__body-up {
   margin: 0px 0px 50px 0px;
   display: flex;
}

.columns__row-why {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding: 50px 20px 0px 20px;
}

.columns__body-why {
   flex: 0 0 50%;
   align-items: start;
}
.columns__body-why:last-child {
   margin: 0px 0px 20px 0px;
}
.colums__row-item {
   
   display: flex;
   margin: 0px 0px 30px 0px;
}
.row__item-image {
   flex: 0 0 100px;
}
.row__item-image img {
   width: 100px;
   height: 100px;
   background-color: #000;
   padding: 15px;
   margin: 0px 10px 0px 0px;
}
.row__item-text {
   display: flex;
   flex-direction: column;
   padding: 0px -7.5px 0px 0px;
}
.item-title {
   font-family: "AkzidenzGroteskBQCondensedBold";
   flex: 0 1 auto;
   font-size: 25px;
   text-transform: uppercase;
   margin: 0px 0px 25px 0px;
}
.item-text {
   font-size: 15px;
   padding: 0px 15px 0px 0px;
}
@media(max-width: 767px){
   .columns__row-why {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 50px 20px 0px 20px;
   }
      .columns__body-why {
      flex: 0 0 0;
      align-items: start;
	}
}
.container-hello {
   padding: 0 10px;
}
.say__hello-body {
   max-width: 1000px;
   margin: 0 auto;
}
.info__body {
   display: flex;
   margin: 0 auto 85px;
   flex-direction: column;
   justify-content: center;
}
.rows__hello {
}
.hello__title {
   font-family: "AkzidenzGroteskBQCondensedBold";
   display: flex;
   flex: 0 1 50%;
   text-transform: uppercase;
   max-width: 500px;
   font-size: 50px;
   margin: 0px 0px 30px 0px;
}
.hello__body-body {
   display: flex;
   flex: 0 0 50%;
   flex-direction: row;
   margin: 0px -7.5px 15px 0px;
}
@media (max-width: 767px) {

}
.hello-body-image-1 {

}
.hello-body-image-2 {
   background: url("../img/contacts/02.svg") left no-repeat;
}
.hello-body-image-3 {
   background: url("../img/contacts/03.svg") left no-repeat;
}
.hello__text {
   font-size: 15px;

   display: flex;
   flex-direction: column;
}
.image__hello img {
   flex: 0 0 25px;
   padding: 0px 20px 0px 0px;
}
.rows__body {
   display: flex;
   flex-wrap: wrap;
}
.text__first {
   display: inline-block;
   line-height: 27px;
}

.rows__social {
}
.rows__hello-body {
   flex: 0 1 50%;
}
.row__social-body {
   flex: 0 1 50%;
}
.text__third {
}
.text__four {
}
.social__media {
   width: 255px;
   display: flex;

   flex-direction: row;
   justify-content: space-between;
}
.social__media img {
   flex: 0 0 25px;
}
.social__media-body {
}
@media (max-width: 767px) {
   .info__body {
      margin: 0px 0px 20px 0px;
   }
   .rows__body {
      display: flex;
      flex-direction: column;
   }
   .social__media {
      width: 170px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   .social__media img {
      flex: 0 0 25px;
   }
}

.navigation__body {
   background-color: #000;
   flex: 1 1 100%;
}

.container__down {
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   flex: 1 1 100%;
}
.navigation {
   display: flex;
   flex: 1 1 100%;
   flex-wrap: wrap;
}
.map__body {
   width: 50%;
   margin: auto 0;
}
.map {
}
.form__body {
   width: 50%;
   padding: 0px 0px 0px 65px;
}

.form {
   color: #fff;
   display: flex;
   flex-direction: column;
   max-width: 500px;
}
.form__title {
   margin: 50px 0px 30px 0px;
   font-size: 25px;
   text-transform: uppercase;
   flex: 0 1 50%;
   max-width: 350px;
}

.name {
   border: 1px solid #959595;
   background-color: #252525 !important;
   color: #959595;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px 10px 30px 0px;
   padding: 10px 10px;
   max-width: 375px;
}
.email {
   border: 1px solid #959595;
   background-color: #252525 !important;
   color: #959595;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px 10px 30px 0px;
   padding: 10px 10px;
   max-width: 375px;
}
.messange {
   position: relative;
   border: 1px solid #959595;
   background-color: #252525 !important;
   margin: 0px 10px 30px 0px;
   color: #959595;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   height: 100px;
   max-width: 375px;
   padding: 10px 10px;
   resize: none;
}
.buttom_down {
   font-size: 17px;
   font-family: Arial, Helvetica, sans-serif;
   width: 155px;
   height: 50px;
   padding: 18px 29px;
   text-align: center;
   margin: 30px 0px 0px 0px;

   font-family: "Bebas";
}

.buttom_down {
   margin: 0px 0px 30px 0px;
}
@media (max-width: 767px) {
	.buttom_down {
   font-size: 15px;
   word-spacing: 5px;
}
   .navigation__body {
   }
   .navigation {
      display: block;
   }
   .container__down {
   }
   .map__body {
      width: 100%;
      height: 300px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      justify-content: center;
   }
   .map {
      max-width: 767px;
      height: 300px;
      margin: 0 auto;
   }
   .form {
      margin: 0 auto;
   }
   .form__body {
      width: 100%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      padding: 20px;
   }
}
.map {
   max-width: 500px;
   height: 300px;
}
.p__form {
}
.black {

}

.footer {
}
.footer__body {
   max-width: 1000px;
   height: 125px;
   display: flex;
   align-items: center;
   margin: 0 auto;
}
@media (max-width: 767px) {
   .footer__body {
      padding: 15px;
   }
}

.footer__text {
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: #4d4d4d;
   flex: 0 1 50%;
   font-size: 15px;
   color: #4d4d4d;
   text-align: center;
   text-align: left;
}

.footer__link {
   font-size: 13px;
   color: #4d4d4d;
}
.footer__logo {
   flex: 0 0 50%;
   display: flex;
   justify-content: flex-end;
}
.footer__logo img {
}
@media(max-width: 767px){
	.black{
	font-size: 14px ;
	}	
	.black_last{
	font-size: 14px ;
	}
	.white{
	font-size: 16px ;
	}
}
@media(max-width: 279px){
   .footer__body {
      padding: 15px;
      margin: 0px 0px 12px 0px;
   }
}
